@charset "utf-8";
/*ーーーーーーーーーーーー　全体の設定　ーーーーーーーーーーーー */

html{
    font-size: 100%;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;        /*リストの点を消す*/
    color: #000000;             /*リストの文字色を黒にする*/
}
img{
    vertical-align: bottom;
    max-width: 100%;
}
li{                               /*リストの「・」を消す */      
    list-style: none;
}
ul{
    margin: 0;                    /*リストの初期値である内外余白を無くす */
    padding: 0;
}

/*ーーーーーーーーーーーー ヘッダーエリア　ーーーーーーーーーーーー */

header{
    font-size: 18px;
    margin: 0 auto;
}
#header .logo1{
    width: 280px;
    margin-left: 30px ;
}
#header .logo2{
    width: 230px;
    margin-left: 80px ;
    float: left;
}

#header .global-nav {
    float: right;
    padding-right: 20px;
}
#header nav ul{
    display: flex;
}
#header nav li{
    margin-left: 5px;
    padding-left: 45px;
}   
#header li+ li {
    border-left: 1px solid #333;
  }



/*ーーーーーーーーーーーー メインエリア　ーーーーーーーーーーーー */
#mainvisual{
    margin-top: 100px;
    margin-bottom: 80px;
}
/*ーーーーーーーーーーーー maincomment　ーーーーーーーーーーーー */
.content {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    text-align: center;
    font-family: serif;
}
.content .img{
    width: 200px;
    height: 200px;
}
.img img{
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 0;
}
#concept{
    margin-left: 300px;
}
#concept2{
    margin-top: -50px;
    margin-left: 550px;
}
#concept img{
    margin-top: 100px;
}
#concept2 img{
    margin-top: 100px;
}
.text{
    font-size: 35px;
}
.text2{
    font-size: 50px;
}
.color{
    color: #009cd3;
}
.color2{
    color: #ff9933;
}


/*ーーーーーーーーーーーー section1 おおぞら整骨院について　ーーーーーーーーーーーー */
.contain{
    width: 1400px;
    padding-left: 0;
    margin-left: 0;
}
.wrap{                             
   margin-left: 50px;
   height: 500px;
}
.wrap img{
    width: 180px;
}  
.wrap .text{
    margin-right: 150px;
    margin-top: 60px;
    font-size: 35px;
}
.wrap h1{
    color: #009cd3;
}
.text p{
    font-family: serif;
    margin-top: -40px;
}
.stickarrow{
    width: 200px;
    height: 30px;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    transform: skew(45deg);
    margin-top: 100px;
}
#clear{
    clear: left;
}
/*ーーーーーーーーーーーー section2 トレーニングスタジオNEXT＋　ーーーーーーーーーーーー */
.wrap{
    float: left;
  }
.wrapper{
  float: left;
}
.wrapper img{
    width: 180px;
    margin-left: 50px;
}  
.wrap .color{
    color: #f90;
}
.btn{
    color: #ffffff;
    font-size: 30px;
    width: 200px;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;	
    padding: 0.5em 1em;
}
.box1 .btn{
    background-color: #009cd3 ;
}
.box2 .btn{
    float: left;
    background-color: #009cd3 ;
}
.wrapper2{
    float: left;
}
/*ーーーーーーーーーーーー section3 スタッフブログ　ーーーーーーーーーーーー */
#blog{
    margin-bottom: -350px;}
.inner{
    width: 1400px;
    margin-left: 250px;
}
.article li{
    float: left;
    margin-left: 30px;
}
.photo img{
    width: 250px;
    height: 180px;
}
.article .date{
    color: #a9a9a9;
    font-family: serif;
    font-style: italic;
}

/*ーーーーーーーーーーーー アクセス　ーーーーーーーーーーーー */
.access{
    width: 1400px;
    margin-left: 130px;
}
.wrapper2{
    float: left;
    margin-left: 70px;
    margin-top: 80px;
}
.wrapper2 .box1{
    margin-left: 350px;
}
iframe{
    height: 400px;
    width: 600px;
}
.wrapper2-img{
    height: 600px;
    width: 700px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: -200px;
}
.date{
    text-align: center;
}
.txt{
    text-align: center;
    padding-top: 0;
}
.txt2{
    margin-top: 0;
    font-size: 20px;
}
